{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Użytkownicy Systemu</h1>

    <a href="{{ path('users_new') }}">Dodaj użytkownika</a>

    <div class="table-bordered">
        {{ addDataTable(columns, {
        'bLengthChange': 0,
        'bInfo':         1,
        'bFilter':       1,
        'bPaginate':     1,
        'iDisplayLength': 5,
        
         
        
        'customParams':     {
                 'sScrollY': '',
                 'sPaginationType': 'full_numbers',            
                 'aLengthMenu': '[[5, 10, 15, -1], [5, 10, 15, "Wszystkie"]]',
                 'oLanguage': '{
                    "oPaginate": {
                        "sFirst": "Pierwsza",
                        "sLast": "Ostatnia",
                        "sNext": "Następna",
                        "sPrevious": "Poprzednia"
                                  },
                    "sEmptyTable": "Nie znaleziono żadnej pozycji",
                    "sProcessing": "Przetwarzanie",
                    "sSearch":"Szukaj:",
                    "sInfoFiltered": "",
                    "sInfo": "_START_ - _END_ z  _TOTAL_",
                    "sLengthMenu": "Wyświetl:  _MENU_ "
                              }',
                            } 
                                 }) 
        }}
    </div>
    {% endblock %}
