{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Dodaj nowego użytkownika</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Anuluj
        </a>
    </li>
</ul>
{% endblock %}
